.trow{
    display: flex;
    text-align: center;
    justify-content: space-around;
  

    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
    border: 1px dotted black;
}

.tbtn{
margin-left: 100px;
position: relative;
top: -46px;
left: -5%;
width: 45px;
height: 45px;
border-radius: 50%;
border: none;

}

.tbtn i{
   
    position: absolute;
    left: 15px;
    top: 10px;
    font-size: 30px;


    
}